/* css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* custom properties */
:root{
    --m-p: 30px;

}

/* generics */

header {
    background-color: aqua;
}

main > :nth-child(even) {
    background: #CCC;
}

footer {
    background-color: #23272a;
}

/* utility */

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-content {

    justify-content: center;

}


.container {
    width: 1080px;
    margin: 0 auto;
    padding: var(--m-p)
}


/* header --- 
so che si ripete molto codice ma l'ho riscritto dato l'effettivo 
contenuto rappresentativo diverso */

.logo {
    flex-basis: 25%;
    height: 50px;
    background-color: goldenrod;
    border:2px dashed black; 
}

.nav-bar{
    flex-basis: 50%;
    height: 50px;
    background-color: goldenrod;
    border:2px dashed black; 

}

.login {
    flex-basis: 25%;
    height: 50px;
    background-color: goldenrod;
    border:2px dashed black; 
}

.spotlight-container {
    background-color: rgb(28, 28, 124);
    padding: var(--m-p)
}

.spotlight {
    border: 2px dashed black;
    background-color: blueviolet;
    min-height: 400px;
    width: 800px;
}

/* main */ 

.large-column {
    min-height: 300px;
    width: 70%;
    background-color: pink;
    border: 2px dashed black;
}

.small-column {
    min-height: 300px;
    width: 30%;
    background-color: aquamarine;
    border: 2px dashed black;
}

.single-column {
    min-height: 600px;
    background-color: darkgreen;
    border: 2px dashed black;
}

/* footer */

.social-link-column {
    min-height: 500px;
    width: calc(100% / 3);
    background-color: lightcoral;
    border: 2px dashed black;
}

.help-link-column {
    min-height: 500px;
    width: calc(100% / 3 * 2);
    background-color: lightseagreen;
    border: 2px dashed black;
}

.link {
    width: 100%;
    border: 2px dashed white; 
}

footer section {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.ending-row {
    height: 100px;
    background-color: greenyellow;
}

